@(elements: helper.FieldElements)

@* 
http://www.malot.fr/bootstrap-datetimepicker/demo.php
http://stackoverflow.com/questions/15930343/multiple-fieldconstructor-in-playframework-2-1/15937763 
*@

<div class="form-group @if(elements.hasErrors) {has-error}">
  <label for="@elements.id" class="control-label">@elements.label</label>
  <div class='input-group date datetime-picker'>
    @elements.input
    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
  </div>
  <span class="errors">@elements.errors.mkString(", ")</span>
</div>