# Includes
include "shared.conf"

# Database configuration
# ~~~~~
# You can declare as many datasources as you want.
# By convention, the default datasource is named `default`

# config for H2
db.default.driver=org.h2.Driver
db.default.url="jdbc:h2:mem:sentimentsanalysis;MODE=MYSQL;DB_CLOSE_DELAY=-1"
# db.default.user=sa
# db.default.password=""

# config for MySQL
# db.default.driver=com.mysql.jdbc.Driver
# db.default.url="mysql://user:pw@localhost/dbname"

applyEvolutions.default=true