@(form: play.data.Form[model.core.Analysis])

@import views.html.helper.FieldConstructor
@import views.html.fieldconstructors.inputFieldConstructor
@import views.html.fieldconstructors.dateTimeFieldConstructor

@implicitField = @{ FieldConstructor(inputFieldConstructor.f) }

@stylesheets = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-datetimepicker.min.css")">
}

@scripts = {
  <script src="@routes.Assets.at("javascripts/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
  <script type="text/javascript">
    $(".datetime-picker").datetimepicker({format: 'mm/dd/yyyy hh:ii'});
  </script> 
}

@views.html.base.baseApp("Create a new analysis", stylesheets, scripts) {

    @helper.form(routes.AppController.addAnalysis, 'id -> "form-create-analysis") {
      
      @if(form.hasGlobalErrors) {
        <p class="alert alert-danger">@form.globalError.message</p>
      }
      
      @helper.inputText(form("name"), 'class -> "form-control", 'placeholder -> "Name",'_label -> "Name")
			
			@helper.inputText(form("startDateTime"), 'class -> "form-control", '_label -> "Start Date/Time", 'readonly -> "True")(FieldConstructor(dateTimeFieldConstructor.f), null)
			@helper.inputText(form("endDateTime"), 'class -> "form-control", '_label -> "End Date/Time", 'readonly -> "True")(FieldConstructor(dateTimeFieldConstructor.f), null)
      
      <p><button type="submit" class="btn btn-lg btn-primary btn-block">@Messages("buttons.create")</button></p>
    }

}
