@(form: play.data.Form[model.core.Analysis])

@import views.html.helper.FieldConstructor
@import views.html.fieldconstructors.inputFieldConstructor
@import views.html.fieldconstructors.dateFieldConstructor

@implicitField = @{ FieldConstructor(inputFieldConstructor.f) }

@stylesheets = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-datepicker.css")">
}

@scripts = {
  <script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")" type="text/javascript"></script>
  <script>
    $('.input-group.date').datepicker({});
  </script>
}

@views.html.base.baseApp("Create a new analysis", stylesheets, scripts) {

    @helper.form(routes.AppController.addAnalysis, 'id -> "form-create-analysis") {
      
      @if(form.hasGlobalErrors) {
        <p class="alert alert-danger">@form.globalError.message</p>
      }
      
      @helper.inputText(form("name"), 'class -> "form-control", 'placeholder -> "Name",'_label -> "Name")
      
      <div class="form-group">
			  <label for="terms" class="control-label">Terms</label>
			  <input type="text" id="terms" name="terms" class="form-control" />
			  <p class="help-block">specify a list of terms for this analysis separated with commas</p>
			</div>
			
			<!-- http://tarruda.github.io/bootstrap-datetimepicker/ -->
			@* http://stackoverflow.com/questions/15930343/multiple-fieldconstructor-in-playframework-2-1/15937763 *@
			@helper.inputText(form("startDateTime"), 'class -> "form-control", '_label -> "Start Date/Time")(FieldConstructor(dateFieldConstructor.f), null)
			@helper.inputText(form("endDateTime"), 'class -> "form-control", '_label -> "End Date/Time")(FieldConstructor(dateFieldConstructor.f), null)
      
      <p><button type="submit" class="btn btn-lg btn-primary btn-block">@Messages("buttons.create")</button></p>
    }

}
