@(form: play.data.Form[SessionController.Login])

@views.html.base.baseStart(Messages("pages.login.title")) {
  
  <h1>@Messages("pages.login.title")</h1>
  
  @helper.form(routes.SessionController.loginHandler, 'id -> "form-signin") {
        
    @if(form.hasGlobalErrors) { 
      <p class="alert alert-danger">@form.globalError.message</p>
    }
    
    <p><input type="text" class="form-control" name="name" placeholder="Name" value="@form("name").value"></p>
    <p><input type="password" class="form-control" name="password" placeholder="Password"></p>
    <p><button type="submit" class="btn btn-lg btn-primary btn-block">@Messages("buttons.login")</button></p>
  }
  <a class="right" href="@routes.SessionController.register()">@Messages("links.newaccout")</a>
  
}