@(title: String, stylesheets: Html = Html(""), scripts: Html = Html(""))(content: Html)

@import views.html.navbar

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>@title</title>
    
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/common.css")">
    @stylesheets
  </head>
  <body>
  
    @* NAVBAR *@
    @navbar()
    
    @* CONTENT *@
    <div id="main" class="container">
      @content
    </div>
    
    <script src="@routes.Assets.at("javascripts/jquery-1.11.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    @scripts
  </body>
</html>
