@(form: play.data.Form[model.core.Customer])

@import views.html.helper.FieldConstructor
@import views.html.fieldconstructors.inputFieldConstructor

@implicitField = @{ FieldConstructor(inputFieldConstructor.f) }

@views.html.base.centered(Messages("pages.register.title")) {
  
  <h1>@Messages("pages.register.title")</h1>
  
  @helper.form(routes.SessionController.registerHandler, 'id -> "form-signin") {
        
    @if(form.hasGlobalErrors) {
      <p class="alert alert-danger">@form.globalError.message</p>
    }
        
    @helper.inputText(form("name"), 'class -> "form-control", 'placeholder -> "Name",'_label -> "Name")
    @helper.inputPassword(form("password"), 'class -> "form-control", 'placeholder -> "Password",'_label -> "Password")
    <p><button type="submit" class="btn btn-lg btn-primary btn-block">@Messages("buttons.register")</button></p>
  }
  
}