/*********
 * forms *
 *********/

.form-group .errors {
	color: #993333;
}


/************
 * floating *
 ************/
 
.left {
  float: right;
}

.right {
	float: right;
}

.clear {
	clear: both;
}