.plot-container {
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  padding: 15px;
  border: 1px solid #DDDDDD;
}

#plot {
  width: 100%;
  height: 100%;
}

div.flot-x-axis div.flot-tick-label{
  margin:4em;
  transform:rotate(90deg);
  
}