@import views.html.navbar.menuItem

<div id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
  
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="@routes.AppController.main()">
        <img id="logo" src="@routes.Assets.at("images/logo-navbar.png")" />
        <span id="brand-text">@Messages("app.title")</span>
      </a>
    </div>
    
    <div class="collapse navbar-collapse">
    
      <ul class="nav navbar-nav">
        @menuItem(routes.AppController.listAnalyses().url, Messages("menu.listanalyses"))
        @menuItem(routes.AppController.createAnalysis().url, Messages("menu.createanalyse"))
      </ul>
      
      <form class="navbar-form navbar-right" role="form">
        <a class="btn btn-success" href="@routes.SessionController.logout()" role="button">@Messages("buttons.logout")</a>
      </form>
      <span id="user-label" class="navbar-right">@session.get("username")</span>
          
    </div>
    
  </div>
</div>